@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, -50%, 0);
	}
}

.fadeInDown {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: fadeInDown;
}
