// DISPLAY HELPERS
.u-hide {
	display: none !important;
}

.d-flex {
	display: flex !important;
}

.d-block {
	display: block !important;
}

// FLEX HELPERS
.align-items-center {
	align-items: center !important;
}

.justify-content-center {
	justify-content: center !important;
}

.justify-content-end {
	justify-content: flex-end !important;
}

.justify-content-between {
	justify-content: space-between !important;
}

// TEXT HELPERS
.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.text-left {
	text-align: left;
}

//SIZE HELPERS
.h-100 {
	height: 100%;
}

.w-100 {
	width: 100%;
}

// COLORS HELPERS
// Generate classes for .bg-#{color-value}, and .color-#{color-value}
// All variables are in variables.scss
// example: .color-blue, bg-red;

@each $color, $value in $colors {
	a.color-#{$color} {
		color: $value !important;
		&:hover {
			color: darken($value, 10%) !important;
		}
	}
	.color-#{$color} {
		color: $value !important;

	}

	.bg-#{$color} {
		background-color: #{$value} !important;
	}

}

// SPACING HELPERS - SET SPACES SIZE IN VARIABLES
// Generate classes for padding and margin
// All variables are in variables.scss
// example: .pt-5 => padding-top: #{$spacer * 3} + 'px';

@each $prop, $abbrev in (margin: m, padding: p) {
	@each $size, $length in $spacers {

		.#{$abbrev}-#{$size} {
			#{$prop}: $length !important;
		}
		.#{$abbrev}t-#{$size},
		.#{$abbrev}y-#{$size} {
			#{$prop}-top: $length !important;
		}
		.#{$abbrev}r-#{$size},
		.#{$abbrev}x-#{$size} {
			#{$prop}-right: $length !important;
		}
		.#{$abbrev}b-#{$size},
		.#{$abbrev}y-#{$size} {
			#{$prop}-bottom: $length !important;
		}
		.#{$abbrev}l-#{$size},
		.#{$abbrev}x-#{$size} {
			#{$prop}-left: $length !important;
		}
	}
}

