@mixin <%= cssClass%>-styles {
	font-family: "<%= fontName %>";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

@function <%= cssClass%>-char($filename) {
	$char: "";
<% _.each(glyphs, function(glyph) { %>
	@if $filename == <%= glyph.fileName %> { $char: "\<%= glyph.codePoint %>"; }<% }); %>

	@return $char;
}

@mixin <%= cssClass%>($filename, $insert: before, $extend: false, $include: false) {
&:#{$insert} {
	@if $extend {
		@extend %<%= cssClass%>;
	}
	@if $include {
		@include <%= cssClass%>-styles;
	}
	content: <%= cssClass%>-char($filename);
}
}

@mixin css-icons-init() {
	$cacheBuster: '/* @echo TIMESTAMP */';
	@font-face {
		font-family: "<%= fontName %>";
		src: url('<%= fontPath %><%= fontName %>.eot?#{$cacheBuster}');
		src: url('<%= fontPath %><%= fontName %>.eot?#{$cacheBuster}#iefix') format('eot'),
		url('<%= fontPath %><%= fontName %>.woff?#{$cacheBuster}') format('woff'),
		url('<%= fontPath %><%= fontName %>.ttf?#{$cacheBuster}') format('truetype'),
		url('<%= fontPath %><%= fontName %>.svg?#{$cacheBuster}#<%= fontName %>') format('svg');
	}

	[class^="<%= cssClass%>-"], [class*=" <%= cssClass%>-"] {
		@include <%= cssClass%>-styles;
	}

	<% _.each(glyphs, function(glyph) { %>.<%= cssClass%>-<%= glyph.fileName %> { @include <%= cssClass%>(<%= glyph.fileName %>); }
	<% }); %>
}
